[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/oh-my-posh"]
	path = zsh/oh-my-posh
	url = https://github.com/JanDeDobbeleer/oh-my-posh/
[submodule "zsh/zsh"]
	path = zsh/zsh
	url = https://github.com/dracula/zsh.git
